/* avrileserif-regular */
@font-face {
	font-family: Avrile Serif;
	font-style: normal;
	font-weight: 400;
	src: local("AvrileSerif Regular"), local("AvrileSerif-Regular"), url(/font/Avrile-Serif/woff/avrileserif-regular.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #222;
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
}
#logo {
    height: 50px;

}
#header-text {
    color: #cecece;
    margin-left: 20px;
    font-family: Avrile Serif, serif;
    font-size: 2em;
}

.content-wrapper {
    position: relative;
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
}

#plain-html {
    color: #c8c8c8;
    padding-bottom: 20px;
}

#delta {
    color: #c8c8c8;
}

#textEditor {
    position: relative;
    margin-top: 10px;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    color: #c8c8c8;
    background-color: #1a1a1a;
    /* overflow: scroll; */
    font-family: Avrile Serif, serif;
    font-size: 1.2em;
    line-height: 1.8;
    word-spacing: -0.02em;
    letter-spacing: 0.03em;
    font-size-adjust: 0.5;
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: break-word;
}

#textEditor > * {
    position: relative;
    margin-bottom: 2em;
    width: 100%;
}

.card {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    font-family: Avrile Serif, serif;
    background-color: #1a1a1a;
    color: #c8c8c8;
    transition: height 200ms ease-in-out;
    overflow: hidden;
}

.card.active {
    height: 240px;
}

.collapser {
    height: 45px;
    cursor: pointer;
    border-bottom: #2c2c2c 1px solid;
    transition: border-color 200ms ease-out;
}

.card:not(.active) .collapser {
    border-color: #00000000;
}

.collapser > h3 {
    color: #cecece;
    font-weight: 700;
    font-size: 1.3em;
    line-height: 40px;
    padding-left: 10px;
}

.card-content {
    padding: 10px;
}