/* avrileserif-regular */
@font-face {
	font-family: Avrile Serif;
	font-style: normal;
	font-weight: 400;
	src: local("AvrileSerif Regular"), local("AvrileSerif-Regular"), url(/font/Avrile-Serif/woff/avrileserif-regular.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
}


@media (prefers-color-scheme: light) {
    :root {
        --bg-1-colour: #fff;
        --bg-2-colour: #eeeeee;
    
        --txt-1-colour: #000000;
        --txt-2-colour: #383838;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-1-colour: #000000;
        --bg-2-colour: #383838;
    
        --txt-1-colour: #fff;
        --txt-2-colour: #eeeeee;
    }
}


body {
    background-color: var(--bg-1-colour);
}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    text-decoration: none;
}
#logo {
    height: 50px;

}
#header-text {
    color: var(--txt-2-colour);
    margin-left: 20px;
    font-family: Avrile Serif, serif;
    font-size: 2em;
}

.content-wrapper {
    position: relative;
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
}

#plain-html {
    box-sizing: border-box;
    color: var(--txt-2-colour);
    padding-bottom: 20px;
}

#delta {
    box-sizing: border-box;
    width: 100%;
    color: var(--txt-2-colour);
}

#textEditor {
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    color: var(--txt-1-colour);
    background-color: var(--bg-2-colour);
    border-radius: 7px;
    /* overflow: scroll; */
    font-family: Avrile Serif, serif;
    font-size: 1.2em;
    line-height: 1.8;
    word-spacing: -0.02em;
    letter-spacing: 0.03em;
    font-size-adjust: 0.5;
    white-space: pre-wrap;
    word-wrap: normal;
    word-break: break-word;
}

#textEditor > * {
    position: relative;
    margin-bottom: 2em;
    width: 100%;
}

.card {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    font-family: Avrile Serif, serif;
    background-color: var(--bg-2-colour);
    color: var(--bg-2-colour);
    transition: height 200ms ease-in-out;
    overflow: hidden;
}

.card.active {
    height: 240px;
}

.collapser {
    height: 45px;
    cursor: pointer;
    border-bottom: var(--txt-2-colour) 1px solid;
    transition: border-color 200ms ease-out;
}

.card:not(.active) .collapser {
    border-color: var(--bg-1-colour);
}

.collapser > h3 {
    color: var(--txt-2-colour);
    font-weight: 700;
    font-size: 1.3em;
    line-height: 40px;
    padding-left: 10px;
}

.card-content {
    padding: 10px;
}